<div class="container">
  <div class="row">
    <div class="col-md" id="boxception"> <a href="https://cssbattle.dev/play/23" target="_blank"> <app-boxception></app-boxception> </a> </div>
    <div class="col-md" id="horizon"> <a href="https://cssbattle.dev/play/30" target="_blank"> <app-horizon></app-horizon> </a> </div>
    <div class="col-md" id="cube"> <a href="https://cssbattle.dev/play/19" target="_blank"> <app-cube></app-cube> </a> </div>
  </div>
  <div class="row">
    <div class="col-md" id="tunnel"> <a href="https://cssbattle.dev/play/37" target="_blank"> <app-tunnel></app-tunnel> </a> </div>
    <div class="col-md" id="panda"> <app-panda></app-panda> </div>
    <div class="col-md" id="web-maker-logo"> <a href="https://cssbattle.dev/play/14" target="_blank"> <app-web-maker-logo></app-web-maker-logo> </a> </div>
  </div>
  <div class="row">
    <div class="col-md" id="tesseract"> <a href="https://cssbattle.dev/play/9" target="_blank"> <app-tesseract></app-tesseract> </a> </div>
    <div class="col-md" id="totally-triangle"> <a href="https://cssbattle.dev/play/13" target="_blank"> <app-totally-triangle></app-totally-triangle> </a> </div>
    <div class="col-md" id="sunset"> <a href="https://cssbattle.dev/play/62" target="_blank"> <app-sunset></app-sunset> </a> </div>
  </div>
  <div class="row">
    <div class="col-md" id="cat-paw"> <app-cat-paw></app-cat-paw> </div>
    <div class="col-md"></div>
    <div class="col-md"></div>
  </div>
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md"></div>
    <div class="col-md"></div>
  </div>
</div>